<div class="row">
  <div class="col-md-12">
    <h1>Courts</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <%= collection_select(:court, :name, @courts, :id, :name, {}, {class: "form-control", id: "court-select", size: 25}) %>
  </div>
  <div class="col-md-6">
    <div id="map"></div>
  </div>
</div>



