<h1>My Games</h1>
<h2>Upcoming</h2>
  <ul>
    <% @upcoming_games.each do |game| %>
      <li><%= "#{game.description} - #{game.court.name} - #{game.date} - #{game.time}" %></li>
    <% end %>
  </ul>

<h2>Past</h2>
  <ul>
    <% @past_games.each do |game| %>
      <li><%= "#{game.description} - #{game.court.name} - #{game.date} - #{game.time}" %></li>
    <% end %>
  </ul>